__pycache__/
__pycache__/
*.py[cod]                                                                     
*.pyo
.env                                                                          
*.egg-info/     
dist/
build/
